.noteCard .icon{
    font-size: 20px;
    margin-left: 0px 5px;
}
.noteCard .textInput{
    border: none;
    width:100%;
    height: 40px;
    background-color: #f8f9fa;
    
}
.noteCard .textInput.tags{
    font-size: 1.3em;
    color:#5d5d5d;
    background-color: #00000000;
    font-family: 'Kalam', cursive;
}

.noteCard .textInput.noteTitle{
    font-size: 2em;
    color:#5d5d5d;
    background-color: #00000000;
    font-family: 'Nerko One', cursive;
}
.noteCard .date{
    font-size: 1.1em;
    color:#5d5d5d;
    background-color: #00000000;
    font-family: 'Patrick Hand', cursive;
}

.noteCard .textInput:focus{
    outline: none;
}
.card-header{
    margin: 0px 5px;
}

.tag{
    margin: 0px 5px;
}

